* {
  box-sizing: border-box;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  display: none;
}
.modal.show {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
.modal .contenido {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background: #fff;
}
li span {
  cursor: pointer;
}

