<template>
    <div>

         <div class="contenido">
                    <label>Nombre</label><br>
                    <input @keyup.enter="guardar()"  type="text" v-model="nombre"><br>
                    <button @click="guardar()">Agregar</button>
                    <br><br>
                    <button @click="$store.commit('setPanel', null)">Cancelar</button>
         </div>

    </div>
</template>

<script>
 export default {
    props: ['registro'],
    data: function(){
        return {
           nombre : '',
        }
    },
    mounted: function(){
        if(this.registro){
            this.nombre = this.registro.nombre;
        }
    },
    methods: {
        guardar: async function(){

            const data = {
                nombre : this.nombre
            };


            if(this.registro){

                const response = await axios.put('/nombres/'+this.registro.id, data);
                this.$emit('guardar', response.data, 'editar');

            }else{


                const response = await axios.post('/nombres', data);
                this.$emit('guardar', response.data, 'agregar');

            }

            this.nombre = '';
        },
    }
 }
</script>
